/* -------- Global -------- */

#skip-to-content,
#heading .page-title,
#navigation h1,
#navigation .child-menu,
.community-title,
#breadcrumbs {
	clip: rect(0 0 0 0);
	position: absolute;
}

html {
	background: url(../images/custom/bg-repeat.jpg) 0 100% repeat-y;
}

body {
	background: url(../images/custom/bg.jpg) 50% 0 no-repeat;
	background-attachment: fixed;
	font: 12px/1 Arial, helvetica;
}

#wrapper {
	margin: 0 auto;
	padding-top: 35px;
	position: relative;
	width: 960px;
}

#heading {
	height: 50px;
}

#heading h1 {
	margin: 0;
}

#heading .logo {
	margin: 0 0 35px 0;
}

#navigation {
	background: #FFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #000;
	margin: 25px 0;
	width: 700px;
}

#navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0 auto;
}

#navigation li {
	float: left;
}

#navigation a {
	display: block;
	color: #000;
	padding: 10px;
	text-decoration: none;
}

#sign-in {
	color: #FFF;
	position: absolute;
	top: 20px;
	right: 0;
	text-decoration: none;
}

#main-content {
	background: #FFF;
	box-shadow: 1px 1px 5px #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	min-height: 500px;
	padding: 10px;
	z-index: 1;
}

#stats {
	background: #FFF;
	box-shadow: 1px 1px 5px #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	width: 227px;
	height: 90px;
	padding: 10px;
}

#footer {
	background: #425E98;
	display: block;
	height: 200px;
	margin-top: -100px;
	margin-bottom: -25px;
	z-index: 0;
}

#footer .footer-content {
	margin: 0 auto;
	padding: 110px 0 10px;
	width: 960px;
}

/* -------- Custom -------- */

.lfr-actions.portlet-options .lfr-trigger strong a {
	text-indent: -9999px;
}

.opens-new-window-accessible {
	display: none;
}

.portlet-blogs .aui-search-bar,
.portlet-blogs .search-pages .delta-selector, 
.portlet-blogs .search-pages .page-selector {
	display: none;
}

.portlet-blogs .taglib-header {
	border-bottom: 0;
	color: #0f1c2d;
	margin-bottom: 0;
}

.portlet-blogs .entry .entry-title {
	border-bottom: 6px solid #0f1c2d;
	color: #0f1c2d;
	font-size: 1.8em;
	padding-bottom: 0.6em;
}

.portlet-blogs .entry .entry-title a {
	color: #0f1c2d;
	text-decoration: none;
}

.portlet-blogs .entry .entry-title a:hover {
	text-decoration: underline;
}

.portlet-blogs .entry .entry-date {
	margin-bottom: 0.8em;
}

.portlet-blogs .entry .entry-footer {
	border-top: 1px dotted #BFBFBF;
	margin-top: 0.6em;
	padding-top: 1em;
}

.portlet-blogs .entry .entry-tags,
.portlet-blogs .entry .entry-tags {
	display: block;
	padding: 0.6em 0;
}

.portlet-blogs .taglib-asset-categories-summary, 
.portlet-blogs .taglib-asset-tags-summary {
	border-left: 0;
	padding: 0;
}

.portlet-blogs .taglib-social-bookmarks .show-bookmarks img {
	margin-left: 0.5em;
}

.portlet-blogs .separator {
	border-top: 1px dotted #BFBFBF;
}

.portlet-search .aui-field-select,
.portlet-search select,
.portlet-search .aui-button-holder  {
	display: none;
}

/* -------- Nav Menu Portlet -------- */

.nav-menu ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.nav-menu ul li {
	margin: 5px 0;
}

.nav-menu ul a {
	background: #425E98;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #FFF;
	display: block;
	margin: 3px 0;
	padding: 10px;
	text-decoration: none;
}

.nav-menu ul a:hover {
	color: lightgrey;
}

.nav-menu ul ul li {
	font-size: 10px;
	margin: 5px 0;
}